body{
	display: flex;
	align-items: center;
	flex-direction: column-reverse;
  background:rgb(248, 239, 248);
	margin-left: 250px;
	margin-right: 250px;
	justify-content: center;
	font-family: sans-serif;
	font-family: Helvetica;
    font-size: 18px;
}
tr{
  background:rgb(251, 161, 251);
    border: 3px solid pink;
	display: flex;
	justify-content:space-around;
}